# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
drfenv/
venv/
.venv/
env/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Secrets
.env
.env.*

# IDE / OS
.idea/
.vscode/
.DS_Store
*.swp